@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root {
    --primary: #d128f5;
    --primary-75: rgba(209, 40, 245, .75);
    --secondary: #611cab;
    --bg: #ededed;
    --card-bg: #f5f5f5;
    --black: #181818;
    --gray: #d1d1d1;
    --shadow-color: rgba(189, 189, 189, 0.25);
    --white: rgb(253, 253, 253);
    --white-to-glass: rgba(253, 253, 253, 0.32);
    --bg-input: #fdfdfd;
    --main-gradient: linear-gradient(135deg, hsla(289, 91%, 56%, 1) 0%, hsla(269, 92%, 52%, 1) 100%, hsla(269, 72%, 39%, 1) 100%);

    --transition: .35s ease-in-out;

    --blur-lg: 2rem;
    --blur-md: 1rem;
    --blur-sm: .5rem;
}

.dark-mode {
    --bg: #232e41;
    --card-bg: #2f3b52;
    --black: #ededed;
    --primary: #d128f5;
    --secondary: #611cab;
    --gray: #37435a;
    --shadow-color: rgba(12, 12, 12, 0.25);
    --white: #232e41;
    --bg-input: #232e41;
}

*,
::after,
::before {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

body {
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    background: var(--bg);
}

::-moz-selection {
    color: var(--white);
    background: var(--primary);
}

::selection {
    color: var(--white);
    background: var(--primary);
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

/* --- Navbar ---*/

.Navbar {
    width: 100%;
    height: 60px;
    background: var(--white-to-glass);
    -webkit-backdrop-filter: blur(var(--blur-lg));
            backdrop-filter: blur(var(--blur-lg));
    position: fixed;
    z-index: 100;
}

.Navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.Navbar-item.logo, .Navbar-item.profile {
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: .5rem;
}

.Navbar-item.logo {
    background: var(--main-gradient);
}

.Navbar-item.section-name .Navbar-link {
        color: var(--white);
        font-weight: 700;
        letter-spacing: .16rem;
    }

.Navbar-link {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    display: block;
}

/* === PROFILE === */
.Profile {
    width: 100%;
    height: 100%;
}

/* === PROFILE IMG === */
.Profile-header, .Profile-avatar {
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
}

.Profile-avatar::after {
    content: '';
    position: absolute;
    top: -.2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.23534) 52.08%, rgba(24, 24, 24, 0.903704) 100%);
    background-blend-mode: darken, normal;
}

.Profile-avatar-name {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--white);
    z-index: 10;
}

.Profile-edit-mobile {
    aspect-ratio: 1/1;
    height: 3rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    bottom: -1rem;
    background: var(--primary);
    border-radius: 50%;
    color: var(--white);
    box-shadow: 0 24px 35px -12px rgba(171, 36, 220, 0.35);
}

/* === PROFILE INFO === */
.Profile-info, .Profile-info-list {
    width: 100%;
}
.Profile-info {
    margin-top: 2rem;
}
.Profile-info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
.Profile-info-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: var(--white);
    gap: .25rem;
}
.Profile-info-title {
    font-weight: 700;
    color: var(--primary);
}
.Profile-info-data {
    color: var(--black);
    font-size: .85rem;
}

/*PROFILE EDIT*/
.Profile-edit {
    display: none;
}


